<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Owners Index</title>
</head>
<body>
<h2 th:text="Owners">Owners</h2>
<!--/*@thymesVar id="owner" type="zagsoft.springframework.myspringpetclinic.model.Owner"*/-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <th th:text="${owner.id}"></th>
        <th th:text="${owner.firstName}"></th>
        <th th:text="${owner.lastName}"></th>
    </tr>
    </tbody>
</table>

</body>
</html>